<div class="tcon">
  <form>
      <h1>Connex<span>ion</span></h1>
      
      <div class="corps-formulaire">
        <div class="gauche">
            <div class="boite">
              <label>E-mail</label>
              <input type="email" placeholder="nom@example.com" required>
            </div>
            <div class="boite">
              <label>Mot de passe</label>
              <input type="password" placeholder="**********" required>
            </div>
            <div class="boite">
              <a href="#">Mot de pass oublier !</a>
            </div>
        </div>
  
      </div>
      <div class="pied-formulaire" style="text-align: center;">
          <button>Se connecter</button>
      </div>
  </form>
  </div>
  
  