<div class="achat-container">
    <main class="table">
        <section class="table_header">
            <h1>Achats</h1>
        </section>
        <section class="table_body">
            <table>
            
                <thead>
                    <tr class="titre">
                            <th>id#</th>
                            <th>Désignation</th>
                            <th>Quantité</th>
                            <th>Prix-Unitaire</th>
                            <th>Montant</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <th scope="row">7</th>
                        <td>Jeans</td>
                        <td>2</td>
                        <td>10.000FCFA</td>
                        <td>20.000FCFA</td>
                    </tr>
                      <tr>
                            <th scope="row">8</th>
                            <td>Jeans</td>
                            <td>2</td>
                            <td>10.000FCFA</td>
                            <td>20.000FCFA</td>
                      </tr>
                      <tr>
                            <th scope="row">9</th>
                            <td>Robe</td>
                            <td>3</td>
                            <td>15.000FCFA</td>
                            <td>90.000FCFA</td>
                      </tr>
                      <tr>
                            <th scope="row">10</th>
                            <td>Chemise</td>
                            <td>1</td>
                            <td>10.00FCFA</td>
                            <td>10.000FCFA</td>
                      </tr>
                      <tr>
                            <th scope="row">11</th>
                            <td>Talons</td>
                            <td>2</td>
                            <td>20.00FCFA</td>
                            <td>40.000FCFA</td>
                    </tr>
                    </tbody>
            </table>
    
            <nav class="page-menu">
                <ul class="page-list">
                    <li><a routerLink="/achat">Précédent</a></li>
                    <li><a >2</a></li>
                    <li><a >3</a></li>
                </ul>
            </nav>
        </section>
    </main>
</div>