<div class="contPrincipal">
    <div class="cont">
        <div class="bloc Canaux">
            <app-canaux></app-canaux>
        </div>
        <div class="bloc user">
           <app-utilisateur></app-utilisateur>
        </div>
        <div class="bloc conversion">
            <app-conversion></app-conversion>
         </div>     
    </div>

    <div class="contenu2">
        <div class="Titre">
            <h2>Rapport de l'année précédente</h2>
        </div>

        <div class="donnee">
            <table>
                <thead>
                    <tr>
                        <th scope="col" style="color: #FFC107">Date</th>
                        <th scope="col" style="color: #FFC107">Jan</th>
                        <th scope="col" style="color: #FFC107">Fév</th>
                        <th scope="col" style="color: #FFC107">Mars</th>
                        <th scope="col" style="color: #FFC107">Avril</th>
                        <th scope="col" style="color: #FFC107">Mai</th>
                        <th scope="col" style="color: #FFC107">Juin</th>
                        <th scope="col" style="color: #FFC107">Juil</th>
                        <th scope="col" style="color: #FFC107">Août</th>
                        <th scope="col" style="color: #FFC107">Sept</th>
                        <th scope="col" style="color: #FFC107">Oct</th>
                        <th scope="col" style="color: #FFC107">Nov</th>
                        <th scope="col" style="color: #FFC107">Déc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="13" class="alignCenter">Nom du site</th>
                    </tr>
                    <tr>
                        <th class="aligngauche">Nombre de ventes</th>
                        <td>7</td>
                        <td>1</td>
                        <td>11</td>
                        <td>22</td>
                        <td>1</td>
                        <td>12</td>
                        <td>0</td>
                        <td>3</td>
                        <td>19</td>
                        <td>21</td>
                        <td>10</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">Panier moyens</th>
                        <td>1</td>
                        <td>5</td>
                        <td>3</td>
                        <td>4</td>
                        <td>2</td>
                        <td>1</td>
                        <td>6</td>
                        <td>5</td>
                        <td>1</td>
                        <td>7</td>
                        <td>9</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">Nombre de visite</th>
                        <td>50</td>
                        <td>25</td>
                        <td>76</td>
                        <td>77</td>
                        <td>54</td>
                        <td>67</td>
                        <td>78</td>
                        <td>67</td>
                        <td>43</td>
                        <td>26</td>
                        <td>12</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">Taux de conversion</th>
                        <td>5%</td>
                        <td>25%</td>
                        <td>18%</td>
                        <td>50%</td>
                        <td>76%</td>
                        <td>90%</td>
                        <td>56%</td>
                        <td>80%</td>
                        <td>35%</td>
                        <td>35%</td>
                        <td>75%</td>
                        <td>46%</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">Taux d'abandon panier</th>
                        <td>2%</td>
                        <td>3%</td>
                        <td>10%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>2%</td>
                        <td>7%</td>
                        <td>3%</td>
                        <td>7%</td>
                        <td>2%</td>
                        <td>10%</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <th colspan="13" class="alignCenter">SEO</th>
                    </tr>
                    <tr>
                        <th class="aligngauche">Nombre de visite (src google analytic)</th>
                        <td>23</td>
                        <td>70</td>
                        <td>64</td>
                        <td>82</td>
                        <td>115</td>
                        <td>64</td>
                        <td>160</td>
                        <td>210</td>
                        <td>109</td>
                        <td>111</td>
                        <td>70</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">Taux de rebonds</th>
                        <td>2%</td>
                        <td>3%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>3%</td>
                        <td>2%</td>
                        <td>0</td>
                        <td>2%</td>
                        <td>1%</td>
                        <td>2%</td>
                        <td>1%</td>
                        <td>1%</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">% de trafics</th>
                        <td>34</td>
                        <td>23</td>
                        <td>15</td>
                        <td>14</td>
                        <td>15</td>
                        <td>14</td>
                        <td>20</td>
                        <td>45</td>
                        <td>27</td>
                        <td>64</td>
                        <td>44</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <th colspan="13" class="alignCenter">Reseaux sociaux</th>
                    </tr>
                    <tr>
                        <th class="aligngauche">Facebook</th>
                        <td>23</td>
                        <td>25</td>
                        <td>12</td>
                        <td>90</td>
                        <td>111</td>
                        <td>121</td>
                        <td>60</td>
                        <td>80</td>
                        <td>67</td>
                        <td>56</td>
                        <td>55</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">What's app</th>
                        <td>12</td>
                        <td>17</td>
                        <td>89</td>
                        <td>56</td>
                        <td>65</td>
                        <td>77</td>
                        <td>45</td>
                        <td>22</td>
                        <td>121</td>
                        <td>110</td>
                        <td>90</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">TikTok</th>
                        <td>14</td>
                        <td>15</td>
                        <td>30</td>
                        <td>44</td>
                        <td>43</td>
                        <td>32</td>
                        <td>22</td>
                        <td>21</td>
                        <td>11</td>
                        <td>31</td>
                        <td>12</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <th class="aligngauche">Instagram</th>
                        <td>14</td>
                        <td>67</td>
                        <td>87</td>
                        <td>14</td>
                        <td>25</td>
                        <td>41</td>
                        <td>32</td>
                        <td>33</td>
                        <td>43</td>
                        <td>33</td>
                        <td>23</td>
                        <td>65</td>
                    </tr>
                </tbody>
                
               
            </table>
        </div>

        
    </div>
    
   
  
    
</div>
