<div class="parametre-container">

  <div class="couverture">
      <a href="#">Ajouter une couverture</a>
  </div>

  <div class="profil">
      <img src="../../../assets/prof.jpg" alt="imgr de profil">
      <i class="fa-solid fa-pen-to-square"></i>
  </div>
</div>

<div class="contenaire-setting">

  <div class="setting-left">
      <h2>Paramètre</h2>
      <form>
          <p>Changer les informations</p>
          <div class="input">
              <div class="nom">
                  <label>Votre nom</label><br>
                  <input type="text" placeholder="Votre Nom" required>
              </div>
              
              <div class="prenom">
                  <label>Votre prénom</label><br>
                  <input type="text" placeholder="Votre Prénom" required>
              </div>
          </div>
          <div class="input">
              <div class="nom">
                  <label>Votre email</label><br>
                  <input type="email" placeholder="Votre e-mail" required>
              </div>
              
              <div class="prenom">
                  <label>Votre téléphone</label><br>
                  <input type="text" placeholder="+223 00 00 00 00" required>
              </div>
          </div>
          <div class="input">
              <div class="nom">
                  <label>Votre Mot de passe</label><br>
                  <input type="password" placeholder="***************" required>
              </div>
              
              <div class="prenom">
                  <label>Confirm Mot de passe</label><br>
                  <input type="password" placeholder="***************" required>
              </div>
          </div>

          <div class="changer">
              <a href="#">Changer les informations</a>
          </div>

      </form>
  </div>
  
  <div class="setting-right">
      <h2>Compte</h2>
      <div class="compte">
          <div class="compt">
              <i class="fa-solid fa-plus"></i> 
              Ajouter un compte
          </div>

          <div class="reseau">
              <i class="fa-brands fa-google"></i>
              Google
          </div>
          <div class="reseau">
              <i class="fa-brands fa-google-drive"></i>
              Google-drive
          </div>
          <div class="reseau">
              <i class="fa-brands fa-discord"></i>
              Discord
          </div>
          <div class="reseau">
              <i class="fa-brands fa-linkedin-in"></i>
              Linkedin
          </div>
          <div class="reseau">
              <i class="fa-brands fa-facebook-f"></i>
              Facebook
          </div>
          
          
      </div>
  </div>
</div>