
<!--<div class="contai">
    <div id="container"></div>
    <br>
    <div id="container2"></div>
</div>
-->

<div class="contPrincipal">
    <div class="cont">
        <div class="bloc venteParmois">
            <app-venteparmois></app-venteparmois>
        </div>
        <div class="separateur">

        </div>
        <div class="bloc achatParMois">
           <app-achat-parmois></app-achat-parmois>
        </div>
    </div>
    
    <div class="cont2">
        <div class="bloc CommandeParmois">
            <app-commande-par-mois></app-commande-par-mois>
        </div>
        <div class="separateur">
            
        </div>
        <div class="bloc NombreClientParMois">
            <app-nombre-client></app-nombre-client>
        </div>
    </div>
  
    
</div>
