<div class="achat-container">
    <main class="table">
        <section class="table_header">
            <h1>Commande</h1>
        </section>
        <section class="table_body">
            <table>
            
                <thead>
                    <tr class="titre">
                        <th>id#</th>
                        <th>ID-Client</th>
                        <th>Date-Command</th>
                        <th>Montant</th>
                        <th>Situation</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                      <th scope="row">8</th>
                      <td>Moh12</td>
                      <td>16/01/2023</td>
                      <td>40.000FCFA</td>
                      <td>Livré</td>
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td>Eve223</td>
                      <td>21/02/2023</td>
                      <td>50.000FCFA</td>
                      <td>Non-Livré</td>
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td>Diak45</td>
                      <td>30/02/2023</td>
                      <td>10.00FCFA</td>
                      <td>Livré</td>
                    </tr>
                    <tr>
                              <th scope="row">11</th>
                              <td>Aliou78</td>
                              <td>18/02/2023</td>
                              <td>20.00FCFA</td>
                              <td>Livré</td>
                  </tr>
                  <tr>
                              <th scope="row">12</th>
                              <td>Touré43</td>
                              <td>05/05/2023</td>
                              <td>70.000FCFA</td>
                              <td>Non-Livré</td>
                  </tr>
                  <tr>
                              <th scope="row">13</th>
                              <td>Hh65</td>
                              <td>10/12/2022</td>
                              <td>15.00FCFA</td>
                              <td>Livré</td>
                  </tr>
        </tbody>
            </table>
    
            <nav class="page-menu">
                <ul class="page-list">
                    <li><a routerLink="/commande">Précédent</a></li>
                    <li><a >2</a></li>
                    <li><a >3</a></li>
                </ul>
            </nav>
        </section>
    </main>
</div>
