<div class="dash-information">
   <div class="blocinfo1 blocI">
     <!-- information de produit -->
     <div class="dash-produit">
        <h2>Produits</h2>
        <div class="produit-nombre-icon">
            <p class="para2">2340</p>
            <span class="material-icons-sharp">inventory</span>
        </div>
        <h4>Nombre de Produits</h4>
    </div>
    <!-- information de ventes -->
    <div class="dash-produit">
        <h2>Ventes</h2>
        <div class="produit-nombre-icon">
            <p>245999</p>
            <span class="material-icons-sharp">local_atm</span>
        </div>
        <h4>Total comptabilité</h4>
    </div>
   </div>

   <div class="blocinfo2 blocI">
     <!-- information de client -->
     <div class="dash-produit">
        <h2>Clients</h2>
        <div class="produit-nombre-icon">
            <p>1200</p>
            <span class="material-icons-sharp">groups</span>
        </div>
        <h4>Clients total</h4>
    </div>
    <!-- information de commande -->
    <div class="dash-produit">
        <h2>Commande</h2>
        <div class="produit-nombre-icon">
            <p>80</p>
            <span class="material-icons-sharp">shopping_bag</span>
        </div>
        <h4>Commande total</h4>
    </div>

   </div>
   
  </div>


  

  <div class="cont">
    <div class="bloc Canaux">
        <app-canaux></app-canaux>
    </div>
    <div class="bloc user">
       <app-utilisateur></app-utilisateur>
    </div>  
</div>


<div class="container-date">
    <div class="chat" id="chat">
        <div class="titre-sms">
            <p>Message</p>
            <a href="#">Afficher tout</a>
        </div>
    
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
        <div class="message-message">
            <div class="image">
                <img src="../../../assets/img/admin.jpg" alt="image de peronne">
            </div>
    
            <div class="short">
                <div class="left-name">
                    <h6>Groupe 2</h6>
                    <p>Il y a 10 minutes</p>
                </div>
                <p>Salut! je voulais savoir ...</p>
            </div>
        </div>
    </div>
    
    
    <div class="date">
        Calendier<input type="date">
    </div>
</div>